dask
earthengine-api
geemap
geopandas
leafmap
localtileserver
matplotlib
numpy
planetary-computer
psutil
pyproj
pystac-client
rasterio
scikit-image
scipy
segmentation-models-pytorch
shapely
stackstac
streamlit
streamlit-folium
torch
torchvision
xarray
