streamlit
streamlit-folium
numpy
torch
torchvision
rasterio
geopandas
shapely
pyproj
leafmap
localtileserver
psutil
matplotlib
segmentation-models-pytorch
scipy
scikit-image
earthengine-api
geemap
planetary-computer
pystac-client
stackstac
dask
xarray
